@import 'variables';

footer{
    background-color: $cyan;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fab{
    padding: 1rem;
    color: $cyan_dark;

    &:hover{
        color: white;
        cursor: pointer;
    }
}

